<h1><%= @campaign.title %></h1>
<p><small><%= link_to "Edit", [:edit, @campaign] %></small></p>

<div class="card mb-3">
  <h5 class="card-header">
    Matching <%= @campaign.record_class.pluralize %>
  </h5>
  <div class="card-body">
    <% @campaign.filter.each do |k, v| %>
      <div class="btn btn-light">
        <code><%= k %> <%= v %></code>
      </div>
    <% end %>
  </div>
  <ul class="list-group list-group-flush">
    <% @records.each do |record| %>
      <li class="list-group-item">
        <%= record.email %>
      </li>
    <% end %>
  </ul>
</div>

<%= paginate @records, theme: "twitter-bootstrap-4" %>

<div class="card mb-3">
  <h5 class="card-header">
    Campaign Messages
  </h5>
  <div class="list-group list-group-flush">
    <% @campaign.messages.order(active: :desc, delay: :asc).each do |message| %>
      <%= link_to [plumber, message], class: "list-group-item" do %>
        <%= message.subject %> -
        day <%= message.delay %>
        (<%= message.active? ? 'active' : 'inactive' %>)
      <% end %>
    <% end %>
  </div>
  <div class="card-body">
    <%= link_to "New message", plumber.new_campaign_message_path(@campaign), class: "btn btn-primary" %>
  </div>
</div>
