<p id="notice"><%= notice %></p>

<h1><%= @campaign.title %></h1>

<h3>Matching Records</h3>
<ul>
  <% @campaign.records.each do |record| %>
    <li><%= record.email %></li>
  <% end %>
</ul>

<h3>Messages</h3>
<ul>
  <% @campaign.campaign_messages.order(delay: :asc).each do |cm| %>
    <li><%= cm.message.subject %> - day <%= cm.delay %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
